.box {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
}

.alive {
    background-color: black;
}

.box-row {
    display: flex;
}

.first {
    background-color: #023E8A;
}

.second {
    background-color: #0A549B;
}

.third {
    background-color: #166EAE;
}

.fourth {
    background-color: #2289C1;
}

.fifth {
    background-color: #2FA4D4;
}

.sixth {
    background-color: #3BBFE8;
}

.seventh {
    background-color: #47DAFB;
}

.eighth {
    background-color: #7CE7FF;
}

.nineth {
    background-color: #B1F4FF;
}

.ten-and-above {
    background-color: #CAF0F8;
}