.simulation {
    text-align: center;
}

.grid-container {
    margin: 20px auto;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.controls {
    margin-top: 20px;
}

.controls button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
}
